
# 忽略KEIL缓存
/Turtle_Rov_0/MDK-ARM/Control_STM32/
/Turtle_Rov_Baby/T-SCH_STM32F429/MDK-ARM/T-SCH_STM32F429/
/uCOS_STM32F429/MDK-ARM/uCOS_STM32F429/

#忽略VSCODE缓存
/.vscode/

#忽略一些测试的工程
/Just_a_Test/

#忽略一些备份的文件

